{% extends "base.html" %}

{% block title %}Log in{% endblock %}
{% block heading %}Log in{% endblock %}

{% block body_block %}

 <form id="login_form" method="post" action="/accounts/login/">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />

    <input type="submit" value="Log in" />
  </form>

  <p>Not a member? <a href="{% url 'register' %}">Register</a>!</p>

{% endblock %}
