{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile account{% endblock %}
{% block heading %}Profile{% endblock %}

{% block body_block %}

<div class="page-header">
<h1> Profile account: {{ user.username }} </h1>
</div>

 <div class="col-md-12">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">Profile</h3>
    </div>
    <div class="panel-body">
     <div class="panel panel-info">
      <div class="panel-heading">
       <h3 class="panel-title">User account settings</h3>
      </div>
      <div class="panel-body">
<p>Username: {{ user.username }}</p>
<p>E-mail: {% if user.email %} {{user.email}} {% else %} No e-mail added yet {% endif %}</p>
<p>Date joined: {{user.date_joined}}</p>
      </div>
     </div>
     <div class="panel panel-info">
      <div class="panel-heading">
       <h3 class="panel-title">Personal information</h3>
      </div>
      <div class="panel-body">
<p>First name: {% if user.first_name %} {{user.first_name}} {% else %} - {% endif %}</p>
<p>Last name: {% if user.last_name %} {{user.last_name}} {% else %} - {% endif %}</p>
<p>Website: {{ user.profile.website }}</p>
<p>Birth date: {{ user.profile.birth_date }} </p>
<p>Country: {{ user.profile.country }} </p>
<p>Phone: {{ user.profile.phone }} </p>
<p>Location: {{ user.profile.location }} </p>
<p>Allow non-users get to the profile: {% if user.profile.public != True %} No {% else %} Yes {% endif %} </p>
<p><a href="{% url 'update_profile' %}" class="btn btn-default">Change personal data</a></p>
      </div>
     </div>

    </div>
   </div>

 </div>

{% endblock %}
