{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
<div class="page-header">

{% if user.is_authenticated %}
<h1> TRANSITWEB {{ user.username }} </h1>
{% else %}
<h1> TRANSITWEB </h1>
{% endif %}
</div>

{% if occultation %}
 <!--div class="col-md-12"-->
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Occultation info</h3>
   </div>
   <div class="panel-body">
    <p>Date: {{ occultation.datePrediction }}</p>
    <p>Time: {{ occultation.timePrediction }}</p>
    <p>Addtional info: {{ occultation.additionalInfo }} </p>
   </div>
  </div>
  {% if occultation.adenda %}
  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Extended information</h3>
   </div>
   <div class="panel-body">
    {{ occultation.adenda|safe }}
   </div>
  </div>
  {% endif %}
 <!--/div-->

{% if userObserver %}
 <div class="row">
  <div class="col-md-6">
   <div class="panel panel-default">
    <div class="panel-body">
      {% if not subscribed %}
      <a href="?action=subscribe">Subscribe to this event</a>
      {% else %}
     <a href="?action=unsubscribe">Unsubscribe to this event</a>
      {% endif %}
    </div>
   </div>
  </div>
  <div class="col-md-6 ">
   <div class="panel panel-default">
    <div class="panel-body">
      <ul>
      {% if userObserver.telescope_set %}
       {% for telescope in userObserver.telescope_set.all %}
     <li><a href="/occultation/send/{{ occultation.id }}/{{ telescope.id }}">Send result with telescope {{ telescope }}</a></li>
       {% endfor %}
      {% endif %}
     </ul>
    </div>
   </div>

  </div>
 </div>
 {% endif %}
 {% if userAstronomer %}
 <div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Observers attending</h3>
  </div>
  <div class="panel-body">
   <ul>
    {% for attendee in attendees %}
     <li><a href="/user/{{ attendee.user }}">{{ attendee }}</a></li>
    {% endfor %}
   </ul>
  </div>
 </div>
 {% endif %}
{% else %}
We do not have this occultation in our system
{% endif %}
{% endblock %}
