{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Add telescope{% endblock %}

{% block body_block %}

<div class="page-header">

{% if user.is_authenticated %}
<h1> Add telescope {{ user.username }} </h1>
{% else %}
<h1> Add telescope </h1>
{% endif %}
</div>

<form id="telescope_form" method="post" class="form-horizontal" action="/management/add_telescope/">

{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
<div class="form-group">
{{ field.errors }}
<label>{{ field.help_text }}</label>
{{ field }}
</div>
{% endfor %}

<input type="submit" name="submit" value="Create telescope" />

</form>

{% endblock %}
